

.fl-header {
	position: static;
}

body {
	background-color: var(--darkgrey);
}

/* loading-animation */

.fl-loading-ani {
	background-color: transparent !important;
}

.fl-loading-ani-curtains::before,
.fl-loading-ani-curtains::after  {
	background-color: var(--darkgrey);
}

.fl-loading-ani-circle-dance {
	background-color: var(--green);
}

/* the-end-of-loading-animation */


/* navbar */

.fl-navbar {
	padding-bottom: 1rem;
}

.fl-navbar .fl-navbar-brand,
.fl-navbar .fl-navbar-toggler,
.fl-navbar .fl-navbar-links,
.fl-navbar-search-parent {
	margin-top: 1rem !important;
}

@media (min-width: 768px) {

	.fl-navbar {
		padding-bottom: 2rem;
	}

	.fl-navbar .fl-navbar-brand,
	.fl-navbar .fl-navbar-toggler,
	.fl-navbar .fl-navbar-links,
	.fl-navbar-search-parent {
		margin-top: 2rem !important;
	}

}

.fl-navbar .fl-navbar-nav {
	margin-top: 0 !important;
}

/* the-end-of-navbar */



/* navbar-brand */

.fl-navbar-brand {
	width: 100px !important;
}

@media only screen and (min-width: 768px) {

	.fl-navbar-brand {
		width: 150px !important;
		margin-left: initial;
		margin-right: initial;
	}

}

/* the-end-of-navbar-brand */



/* navbar-nav */

@media only screen and (min-width: 992px) {

	.fl-dropdown-menu-con {
		padding-top: 1.5rem;
		min-width: 230px;
		top: 4rem !important;
		transition-duration: 0.3s;
	}

	.fl-dropdown-menu {
		background-color: var(--darkgrey);
		padding: 4px;
		border-radius: 0;
	}

}	

/* the-end-of-navbar-nav */



/* navbar-search */

.fl-navbar-search-parent {
	width: 100%;
	margin: 0 !important;
}

/* the-end-of-navbar-search */



/* navbar-toggler */

@media only screen and (max-width: 991px) {

	.fl-navbar-toggler {
		border-radius: 0;
		background-color: transparent;
		width: 30px;
		height: 33px;
	}

	.fl-navbar-toggler-line::before,
	.fl-navbar-toggler-line,
	.fl-navbar-toggler-line::after {
		width: 30px;
	    height: 3.2px;
	    background-color: var(--white);
	}

	.fl-navbar-toggler-line::before,
	.fl-navbar-toggler-line::after {
	    top: -9px;
	}   

	.fl-navbar-toggler-line::after {
		top: 9px;
	}

}

/* the-end-of-navbar-toggler */	



/* md-menu */

@media only screen and (max-width: 991px) {

	.fl-md-menu {
		width: 75%;
		height: 100vh;
		position: fixed;

	}

	.fl-md-menu-list {
		background-color: var(--blackWithOpacity);
		border-radius: 0;
		height: 100%;
	}

}

/* the-end-of-md-menu */



/* header-top-container */


.header-top-container {
	background-color: var(--white);
	padding: 0 1rem;
}

.header-top-brand,
.header-top-title,
.header-top-link {
	position: relative;
	z-index: 2;
}

@media (min-width: 992px) {

	.header-top-container {
		padding: 0.4rem 1rem;
	}

}

/* the-end-of-header-top-container */



/* navbar-links */

.fl-navbar-links {
	margin-left: auto;
}

@media (min-width: 992px) {

	.fl-navbar-links {
		order: 3;
		margin-left: initial;
	}
}

/* the-end-of-navbar-links */



/* fl-chat */

.fl-chat-toggler,
.fl-chat-head {
	background-color: var(--orange);
}

.fl-chat-text::selection {
	background-color: var(--white);
	color: var(--orange);
}

.fl-chat-form {
	border-color: var(--darkorange);
}

.fl-chat-submit {
	background-color: var(--orange);
}

.fl-chat-submit:hover {
	background-color: var(--darkorange);
}	

.fl-chat-bottom i {
	color: var(--orange);
}


/* the-end-of-fl-chat */



/* back-to-top-btn */

.fl-back-to-top-btn {
	background-color: var(--darkorange) !important;
	right: 1.5rem;
	padding: 0;
	width: 40px;
	height: 40px;
	font-size: 20px !important;
}

.fl-back-to-top-btn.fl-show {
	bottom: 1.5rem;
}

@media (hover: hover) {

	.fl-back-to-top-btn:hover {
		background-color: var(--darkgrey) !important;
	}

}	

.fl-back-to-top-btn:active {
	background-color: var(--darkgrey) !important;
}

/* the-end-of-back-to-top-btn */




/* margins */

.list-mt-0 > * { margin-top: 0 !important; }

/* the-end-of-margins */



/* head-container */

.head-container-link {
	margin-top: 1rem;
}

@media (max-width: 459px) {

	.head-container-list {
		flex-direction: column;
	}

}	

@media (min-width: 460px) {

	.head-container-link:first-child {
		margin-right: 1.8rem;
	}

}

/* the-end-of-head-container */















