
/* containers */

/*-container-*/
.container {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}

@media (min-width: 576px) {

	.container {
		padding-left: 2rem;
		padding-right: 2rem;
	}

}

@media (min-width: 992px) {

	.container {
		width: 78%;
		margin-left: 22%;
	}

}

/*-container-2-*/
.container-2 {
	width: 100%;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

@media (min-width: 576px) {

	.container-2 {
		padding-left: 3rem;
		padding-right: 3rem;
	}

}

@media (min-width: 992px) {

	.container-2 {
		width: 78%;
		margin-left: 22%;
	}

}

/* the-end-of-containers */



/* bg-colors */

.bg-darkgrey { background-color: var(--darkgrey); }

.bg-black { background-color: var(--black); }

/* the-end-of-bg-colors */



/* boxes */

/*-absolute-box-*/
.fixed-box {
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	width: 22%;
}

/*-green-box-*/
.green-box {
	background-color: var(--green);
	padding: 1.2rem;
}

/* the-end-of-boxes */



/* margins */

.mt-0 { margin-top: 0 !important; }

.mt-auto { margin-top: auto !important; }

.top-offset-1 { margin-top: 50px !important; }

.top-offset-2 { margin-top: 2rem !important; }

.top-offset-3 { margin-top: 7px !important; }

.top-offset-4 { margin-top: 3rem !important; }

.offset-1 { margin: 1.5rem auto 0 !important; }

@media (min-width: 992px) {
	.mr-lg-1 {
		margin-right: 130px;
	}
}

/* the-end-of-margins */



/* list-offsets */

/*-list-offset-*/
.list-offset > *:not(:first-child) { margin-top: 2rem; }

@media (min-width: 992px) { .list-offset > *:not(:first-child) { margin-top: 0; } }

/* the-end-of-list-offsets */



/* widths */

@media (max-width: 991px) { .w-md-100 { width: 100% !important; } }

@media (min-width: 992px) { .w-lg-40 { width: 40% !important; } }

/* the-end-of-widths */



/* flex */

@media (max-width: 991px) { .justify-content-md-center { justify-content: center !important; } }

/* the-end-of-flex */



/* borders */

.border-bottom-grey { border-bottom: 1px solid var(--lightgreyWithOpacity); }

.border-bottom-grey-2 { border-bottom: 1px solid grey; }

/* the-end-of-borders */



/* lists */

/*-list-*/
.list,
.list-2 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.list > *:not(:first-child) { margin-top: 1rem;}

.list-2 > *:not(:first-child) { margin-top: 2rem;}

.list > *, .list-2 > * { width: 100%; }

/*-list-3-*/
.list-3 {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;
}

.list-3 > * { 
	width: 100%;
	text-align: center; 
	margin-top: 3rem;
}

@media (min-width: 576px) {

	.list-3 {
		justify-content: space-between;
	}

	.list-3 > * {
		text-align: left;
		width: 45%;
	}

}

@media (min-width: 992px) {

	.list-3 > * {
		width: 31%;
	}
	
}


/* the-end-of-lists */



/* paddings */

.p-1 { padding: 2.5rem 2rem; }

.pb-1 { padding-bottom: calc(4rem + 2vw); }

.pb-2 { padding-bottom: 300px; }

.pt-1 { padding-top: 50px; }

/* the-end-of-paddings */



/* buttons */

/*-grey-btn-*/
.grey-btn {
	color: grey;
	font-size: 13px;
	padding: 0;
	transition: all .3s;
	font-weight: normal;
	width: auto;
}

.grey-btn span {
	transform: scale(0);
	-webkit-transform: scale(0);
	opacity: 0;
	transition: all .3s;
}

@media (hover: hover) {

	.grey-btn:not(.fl-active):hover {
		color: var(--white);
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}

}

.grey-btn.fl-active,
.grey-btn:active {
	color: var(--green);
	cursor: default;
}	

.grey-btn.fl-active span {
	transform: scale(1);
	-webkit-transform: scale(1);
	opacity: 1;
}

/*-green-iconic-btn-*/
.green-iconic-btn,
.green-iconic-btn:hover,
.green-iconic-btn:active {
	background-color: var(--green) !important;
	color: var(--darkgrey);
}

/*-transparent-btn-*/
.transparent-btn {
	color: var(--white);
	text-align: center;
	padding: .4rem 2rem;
	letter-spacing: 6px;
	font-weight: bold;
	font-size: 8px !important;
	border: 2px solid var(--white);
	background-color: transparent;
	transition: border-color .3s, background-color .3s, color .3s;
}

.transparent-btn:hover {
	background-color: var(--green);
	border-color: var(--green);
	color: var(--darkgrey);
}

@media (min-width: 576px) {

	.transparent-btn {
		font-size: 12px !important;
	}	

}

/* the-end-of-buttons */



/* texts */

/*-grey-text-*/
.grey-text {
	color: grey;
	font-size: 13px;
	line-height: 30px;
}

/*-grey-text-2-*/
.grey-text-2 {
	color: var(--darkgrey);
	font-size: 16px;
}

@media (max-width: 991px) { .text-md-center { text-align: center !important; } }

/*-white-text-*/
.white-text {
	color: var(--white);
	margin: 0;
	font-size: 16px;
	line-height: 35px;
}

/* the-end-of-texts */



/* img-containers */

.img {
	width: 100%;
	height: auto;
	min-height: 100%;
	display: block;
}

/*-img-container-*/
.img-container {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
}

@media (min-width: 992px) {

	.img-container {
		width: 300px;
		height: 300px;
	}

}

/* the-end-of-img-containers */



/* titles */

/*-white-title-*/
.white-title,
.white-title-2 {
	color: var(--white);
	font-size: 25px;
	line-height: 40px;
	margin: 0;
}

@media (min-width: 992px) {

	.white-title {
		color: var(--white);
		font-size: 30px;
		line-height: 45px;
	}

}

/*-white-title-3-*/
.white-title-3 {
	font-family: "Dancing Script", cursive;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: var(--white);
    margin: 0;
}

@media (min-width: 768px) {

	.white-title-3 {
		font-size: 40px !important;
		line-height: 50px !important;
	}	

}

/*-white-title-4-*/
.white-title-4 {
	color: var(--white);
	font-size: 30px;
	line-height: 40px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}

.white-title-4 span {
	font-size: 30px;
	font-weight: 900;
}

@media (min-width: 768px) {

	.white-title-4,
	.white-title-4 span {
		font-size: 50px;
		line-height: 60px;
	}

}

/*-green-title-*/
.green-title {
	color: var(--green);
	font-weight: 400;
	margin: 0;
}

/* the-end-of-titles */



/* box-shadows */

.box-shadow-green { box-shadow: 1px 1px 20px var(--green), -1px -1px 20px var(--green); }

/* the-end-of-box-shadows */



/* animations */

.animation-from-left {
	position: relative;
	transition: all .8s;
	opacity: 0;
	transform: scale(0);
	-webkit-transform: scale(0);
}

.animation-from-left.fl-is-scrolled {
	right: default;
	opacity: 1;
	transform: scale(1);
	-webkit-transform: scale(1);
}

/* the-end-of-animations */



/* lines */

.line {
	width: 100%;
	background-color: var(--darkgrey);
	height: 8px;
	border: 1px solid var(--lightgreyWithOpacity);
	position: relative;
}

.line::before {
	width: 45px;
	position: absolute;
	content: " ";
	height: calc(100% + 2px);
	top: -1px;
	left: -1px;
	background-color: var(--green);
	transition: width 1s .8s;
}

.line::after {
	width: 45px;
	position: absolute;
	content: "90%";
	height: 22px;
	color: var(--white);
	font-size: 12px;
	line-height: 22px;
	text-align: center;
	top: -1px;
	left: -1px;
	background-color: var(--black2);
	transition: left 1s .8s;
}

/* the-end-of-lines */



/* icons */

.green-icon {
	color: var(--green);
	font-size: 16px;
	margin-right: 1rem;
}

/* the-end-of-icons */



/* arrows */ 

/*-arrow-top/bottom-*/
.arrow-top,
.arrow-bottom {
	position: relative;
	z-index: 2;
}

.arrow-top::before,
.arrow-bottom::after {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 15px;
	background-image: url("../images/arrow-down.png");
	background-position: center top;
	background-repeat: repeat-x;
	background-size:15px;
	z-index: 15;
}

.arrow-bottom::after {
	top: initial;
	bottom: 0;
	background-image: url("../images/arrow-up.png");
	background-position: center bottom;
}

/*-slider-arrows-*/
/*.slider-arrows .flash-simple-slider-arrow {
	visibility: hidden;
}*/

.slider-arrows .flash-simple-slider-arrow {
    background-color: transparent !important;
    opacity: .4 !important;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    transition: opacity .3s;
    left: calc(1rem + 2vw);
}

@media (hover: hover) {

	.slider-arrows .flash-simple-slider-arrow:hover {
		opacity: 1 !important;
	}

}

.slider-arrows .flash-simple-slider-arrow:active {
	opacity: 1 !important;
}

.slider-arrows .flash-simple-slider-next {
    left: initial;
    right: calc(1rem + 2vw);
}

.slider-arrows .flash-simple-slider-arrow-icon {
	width: 100%;
	height: 100%;
	left: 0 !important;
	right: initial !important;
	border-width: 0 4px 4px 0 !important;
}

@media (min-width: 768px) {

	.slider-arrows .flash-simple-slider-arrow {
		visibility: visible;
	}

}

@media (min-width: 992px) {

	.slider-arrows .flash-simple-slider-arrow {
	    opacity: 0;
	    transition: opacity .3s;
	}

	.slider-arrows:hover .flash-simple-slider-arrow {
	    opacity: 1;
	}  

}	

/* the-end-of-arrows */



/* slider-dots */

/*---slider-dots---*/
.slider-dots .flash-simple-slider-dot-item:not(:last-child),
.slider-dots .slick-dots li:not(:last-child) {
    margin-right: .8rem !important;
}

.slider-dots .flash-simple-slider-dot,
.slider-dots .slick-dots button {
	border: 0 !important;
    width: 12px;
    height: 12px;
    background-color: var(--white) !important;
    opacity: .7;
    transition: opacity .3s;
    margin: 0 !important;
}

@media (hover: hover) {

    .slider-dots .flash-simple-slider-dot:hover,
    .slider-dots .slick-dots button:hover {
        opacity: 1;
    }

}

.slider-dots .flash-simple-slider-dot:active,
.slider-dots .flash-simple-slider-dot.flash-active,
.slider-dots .slick-dots button:active,
.slider-dots .slick-dots .slick-active button {
	opacity: 1;
}

.slider-dots .flash-simple-slider-dot-list,
.slider-dots .slick-dots {
	bottom: 2.5rem;
}

.bigger-slider-dots .flash-simple-slider-dot,
.bigger-slider-dots .slick-dots button {
    width: 15px;
    height: 15px;
}

/* the-end-of-slider-dots */



/* links */

/*-white-link-*/
.white-link {
	color: var(--white);
	font-size: 14px;
	transition: all .5s;
}

.white-link:hover {
	color: var(--green);
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	text-indent: 1rem;
}


/* the-end-of-links */